@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&display=swap");

.hola {
  animation: zoomIn 6s;
}
.mainPage {
  transition: height 2s ease-in-out;
  .imageContent {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 10;
    }
  }

  .imageContent.principal {
    background-image: url("../assets/images/sampleimage.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px);

    background-size: 108% 108%;
    background-position: center;
    background-repeat: no-repeat;

    h3 {
      color: white;
      position: relative;
      z-index: 100;
      font-family: "Hind Siliguri", sans-serif;
      font-size: 3rem;
      font-weight: 100;

      span {
        color: #ff6b6b;
      }
    }

    &::before {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  .imageContent.principal.back1 {
    background-image: url("../assets/images/sampleimage.jpg");
  }

  .imageContent.principal.back2 {
    background-image: url("../assets/images/bath.jpg");
  }

  .imageContent.secondary {
    background-image: url("../assets/images/daria-nepriakhina-znu3erdabaw-unsplash.jpg");
    height: 600px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 80px;

    .floatContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      box-sizing: inherit;
      background-color: white;
      position: relative;
      z-index: 100;
      width: 504px;
      height: 507px;
      padding: 48px;
      border-radius: 5px;

      h1 {
        font-size: 25px;
        color: #425464;
        margin-bottom: 20px;
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        line-height: 1.75;
        color: #425464;
      }

      .contactLabel {
        margin-bottom: 20px;
        margin-top: 10px;
      }

      button {
        border: 2px solid #a31e36;
        background-color: #a31e36;
        border-radius: 25px;
        display: table;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1;
        padding: 16px 20px 14px;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .qualityInformation {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 4rem;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;
      text-align: center;
      padding: 0 20px;

      .icon {
        fill: #87cee7;
        margin-bottom: 1rem;
        width: 100px;
        height: 100px;
      }

      h1 {
        font-family: "Open Sans", sans-serif;
        font-size: 21px;
        line-height: 1.25;
        font-weight: 700;
        color: #425464;
        text-align: center;
      }

      p {
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        line-height: 1.5;
        font-weight: 400;
        color: #425464;
        text-align: center;
        line-height: 1.75;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding: 0 1.5rem;
      }
    }
  }
}

@media (max-width: 840px) {
  .mainPage {
    .qualityInformation {
      flex-direction: column;
      .item {
        width: 100%;
        margin-bottom: 2rem;
      }
      margin-bottom: 0;
    }
  }
}

@media (max-width: 750px) {
  .mainPage {
    .imageContent.principal {
      h3 {
        font-size: 2.5rem;
        text-align: center;
      }
    }
  }
}

@media (max-width: 650px) {
  .mainPage {
    .imageContent.principal {
      height: 100vh !important;
    }
  }
}

@media (max-width: 600px) {
  .mainPage {
    .imageContent.principal {
      h3 {
        font-size: 2rem;
      }
    }

    .imageContent.secondary {
      padding-left: 0;
      justify-content: center;
      .floatContainer {
        width: 80%;
        padding: 1.5rem 1rem;
        box-sizing: content-box;
        height: 80%;

        h1 {
          line-height: 1.25;
        }
      }
    }

    .qualityInformation {
      .item {
        .icon {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .mainPage {
    .imageContent.principal {
      h3 {
        font-size: 1.5rem;
      }
    }
    .imageContent.secondary {
      height: calc(100vh + 100px);
    }
  }
}

@keyframes zoomIn {
  0% {
    background-size: 100% 100%;
  }

  100% {
    background-size: 108% 108%;
  }
}

@keyframes flash {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    background-color: white;
    // background-color: white;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
