.NavbarContainer {
  height: 90px;
  transition: height 0.2s ease-in-out;
  z-index: 99999;
  position: relative;
}

.navbar {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  position: fixed;
  width: 100%;
  z-index: 999999;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: height 0.1s ease-in-out, padding 0.1s ease-in-out;
  padding: 0 2rem;

  .menuContainer {
    display: none;
    .menu {
      display: none;
    }

    .menuButton {
      display: none;
    }
  }
  img {
    height: 50px;
    width: 120px;
  }

  .iconScrolled {
    display: none;
  }

  .links {
    a {
      margin-right: 2rem;
      text-decoration: none;
      font-size: 1.1rem;
      color: black;

      &:hover {
        color: #ff6b6b;
      }
    }

    .consultation {
      background-color: #a31e36;
      color: white;
      font-weight: 600;
      padding: 14px 16px 12px;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 25px;
      transition: all 0.2 ease-in-out;

      &:hover {
        background-color: #810017;
        color: white;
      }

      &.scrolled {
        padding: 12px 14px 10px;
        font-size: 12px;
      }
    }
  }
}

.NavbarContainer.scrolled {
  height: 60px;
}

.navbar.scrolled {
  height: 60px;
  background-color: #1f1f1f;
  padding: 0 3rem;

  .links {
    a {
      color: white;
      font-size: 0.9rem;
    }
  }

  img {
    height: 40px;
    width: 65px;
  }

  .icon {
    display: none !important;
  }

  .iconScrolled {
    display: block;
  }
}

@media (max-width: 750px) {
  .navbar {
    .links {
      .consultation {
        margin-right: 0;
      }
    }
  }
}
@media (max-width: 680px) {
  .NavbarContainer {
    height: 70px;
    &.scrolled {
      height: 50px;
    }
  }
  .navbar {
    height: 70px !important;

    &.scrolled {
      height: 50px !important;
      padding: 0 1rem;

      img {
        height: 45px !important;
        width: 70px !important;
      }
    }

    img {
      height: 70px !important;
      width: 140px !important;
    }

    .menuContainer {
      display: block;
      .menuButton {
        display: block;
        margin-right: 20px;
        font-size: 20px;
      }

      .menu {
        display: none;
      }

      .menu.show {
        display: block;

        position: absolute;
        transform: translate(-60%, 0);
        background-color: white;
        list-style: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 120px;
      }

      .menu.show li {
        width: 100%;
        padding: 0;

        &:hover {
          background-color: #cccccc;
          transition: 0.2 ease-in-out all;
        }

        a {
          color: black;
          text-decoration: none;
          width: 100% !important;
          display: block;
          box-sizing: border-box;
          padding: 5px 10px;
        }
      }

      .menu.show li a:active {
        background-color: #cccccc;
      }

      .menu.show li:last-child {
        margin-bottom: 0;
      }
    }

    .links {
      display: none;
    }
  }
}
